

  <app-titulos [titulo]="'Produtos'"></app-titulos>

  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  <div class="row g-3">
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        placeholder="Filtro por Categoria"
        [(ngModel)]="filtroLista"
      />
    </div>
  </div>
  <table class="table table-light table-bordered">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Ativo</th>
        <th>Categoria</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngIf="produtos && produtos.length">
      <tr *ngFor="let produto of produtosFiltradas">
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.descricao }}</td>
        <td *ngIf="produto.ativo">
          <input class="form-check-input" type="checkbox" value = "" id = "checkbox" checked disabled>
        </td>
        <td *ngIf="!produto.ativo">
          <input class="form-check-input" type="checkbox" value = "" id = "checkbox" disabled>
        </td>
        <td>{{ produto.categoria.descricao }}</td>

       <!-- {{produto.ativo ? 'flexCheckDisabled' : 'flexCheckChecked'}} -->
        <td>
          <button type="button" class="btn btn-primary btn-sm me-2" (click)="showError()">
            <i class="fa fa-edit"></i>
            Editar
          </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!produtos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum produto encontrado</h4>
        </td>
      </tr>
    </tfoot>
  </table>

  <ng-template #template>
    <div class="modal-body text-center">
      <p>Tem certeza que quer deletar esse produto?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
    </div>
  </ng-template>

